@import "../globals";

.projectHeader {
    > div {
        padding-bottom: 0 !important;
    }

    .headerBackground {
        position: absolute;
        left: 0;
        width: 100%;
        height: 400px;
        background-position: center;
        background-size: cover;
    }

    header {
        position: absolute;
        left: 0;
        width: 100%;
        height: 400px;
        background: linear-gradient(
            to bottom,
            black,
            var(--color-background-extreme-seethru) 20%,
            var(--color-background-seethru) 80%,
            var(--color-background) 100%
        );

        @media (prefers-color-scheme: light) {
            background: linear-gradient(
                to bottom,
                black,
                var(--color-background-extreme-seethru) 20%,
                var(--color-background-seethru) 60%,
                var(--color-background) 100%
            );
        }

        .headerInner {
            max-width: $layoutWidth;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            text-shadow: 0 0 10px black, 0 0 20px black;
            padding: 10px 20px;
            color: var(--color-text);

            @media (prefers-color-scheme: light) {
                text-shadow: none;
            }

            * {
                margin: 0;
                font-size: 1.25em;
            }

            h1 {
                font-size: 2.2em;
                margin-top: auto;
                color: var(--color-accent);
                text-shadow: $textShadowAccent;
            }
        }
    }

    .headerPlaceholder {
        width: 100%;
        height: 400px;
    }
}

.projectAbout,
.projectLinks {
    &:nth-of-type(2) {
        > div,
        > article {
            padding-top: 20px;
        }
    }
}

.projectAbout {
    background: var(--color-background);
    color: var(--color-text);
    transition: background-color 0.25s, color 0.25s;
}

.projectLinks {
    .linkList {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    a {
        display: inline-block;
        border: thin solid rgb(200, 200, 200);
        border-radius: 5px;
        padding: 10px 15px;
        margin: 5px;
        color: inherit;
        text-decoration-skip: none;
        text-decoration: underline dotted currentColor;

        i.fab,
        i.fas,
        i.fa,
        i.far,
        i.fal {
            display: inline;
        }
    }
}
