@import "../variables";

.projectHeader {
    > div {
        padding-bottom: 0 !important;
    }

    .headerBackground {
        position: absolute;
        left: 0;
        width: 100%;
        height: 400px;
        background-position: center;
        background-size: cover;
    }

    header {
        position: absolute;
        left: 0;
        width: 100%;
        height: 400px;
        background: linear-gradient(
            to bottom,
            rgba($background, 0.95),
            rgba($background, 0.25) 20%,
            rgba($background, 0.35) 80%,
            rgba($background, 1) 100%
        );

        .headerInner {
            max-width: $layoutWidth;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            text-shadow: 0 0 10px black, 0 0 20px black;
            padding: 10px 20px;

            * {
                margin: 0;
                color: white;
                font-size: 1.25em;
            }

            h1 {
                font-size: 2.2em;
                margin-top: auto;
            }
        }
    }

    .headerPlaceholder {
        width: 100%;
        height: 400px;
    }
}

.projectAbout,
.projectLinks {
    &:nth-of-type(2) {
        > div,
        > article {
            padding-top: 20px;
        }
    }
}

.projectAbout {
    background: #060606;
    color: white;
    transition: background-color 0.25s, color 0.25s;

    @media (prefers-color-scheme: light) {
        background: $lightBackground;
        color: $lightTextColor;
    }
}

.projectLinks {
    .linkList {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    a {
        display: inline-block;
        border: thin solid rgb(200, 200, 200);
        border-radius: 5px;
        padding: 10px 15px;
        margin: 5px;
        color: inherit;
        text-decoration-skip: none;
        text-decoration: underline dotted currentColor;

        i.fab,
        i.fas,
        i.fa,
        i.far,
        i.fal {
            display: inline;
        }
    }
}
