@import "../variables";

.projectHeader {
    >div {
        padding-bottom: 0 !important;
    }

    .headerBackground {
        position: absolute;
        left: 0;
        width: 100%;
        height: 300px;
        background-position: center;
        background-size: cover;
    }

    header {
        position: absolute;
        left: 0;
        width: 100%;
        height: 300px;
        background: linear-gradient(to bottom, rgba($background, .95), rgba($background, .5) 20%);

        .headerInner {
            max-width: $layoutWidth;
            width: 100%;
            margin: 0 auto;
            padding: 225px 20px 0;
            text-shadow: 0 0 20px black, 0 0 20px black;

            * {
                margin: 0;
                color: white;
            }

            h1 {
                font-size: 2em;
            }
        }

    }

    .headerPlaceholder {
        width: 100%;
        height: 270px;
    }
}

.projectAbout {
    background: #060606;
    color: white;
}

.projectLinks {
    .linkList {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    a {
        display: inline-block;
        border: thin solid rgb(200, 200, 200);
        border-radius: 5px;
        padding: 10px 15px;
        margin: 5px;
        color: $textColor;
        text-decoration-skip: none;
        text-decoration: underline dotted currentColor;

        i.fab,
        i.fas,
        i.fa,
        i.far,
        i.fal {
            display: inline;
        }
    }
}