@import "../variables";
@import "../mixins";

.priceAmount {
    display: flex;
    width: 150px;
    margin: 20px auto;
    border: thin solid rgba(0, 0, 0, .25);
    border-radius: 5px;
    overflow: hidden;
    line-height: 40px;

    input {
        flex-grow: 1;
        border: none;
        padding-left: 10px;
        width: 1px;
        border-right: thin solid rgba(0, 0, 0, .25);
    }

    div {
        width: 20px;
        text-align: center;
    }
}

.donateButton {
    @include button;
}

.sronly {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}