@import "../variables";
@import "../mixins";

.heroSection {
    width: 100%;
    background: #000710;
    min-height: 500px;
    padding-top: 100px;
    overflow: hidden;
    background: radial-gradient(ellipse at top left, #1f0ba659, transparent), radial-gradient(ellipse at bottom right, #4a086829, transparent);

    @media(pointer: coarse), (pointer: none) {
        min-height: 700px;
    }

    .profile {
        position: relative;
        left: 50%;
        width: calc(90% - 40px);
        max-width: 600px;
        max-height: 400px;
        transform: translate(-50%, 0%);

        &:hover .profileImage {
            transform: translate(4px, -4px);
        }
    
        &:hover .profileImageDummy {
            transform: translate(-3px, 3px);
        }
    
        .hello {
            font-weight: 100;
            opacity: .75;
            display: block;
            margin-bottom: -5px;
        }
        
        .name {
            font-weight: 100;
            font-size: 2em;
            display: block;
        }

        .description {
            font-weight: 100;
            display: block;
        }

        .contactLinks {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
        }

        .contactLink {
            transition: text-decoration .5s;
            text-decoration: underline dotted rgba(0, 0, 0, 0);
            padding: 6px 0 6px 25px;
            color: $textColor;

            @media(pointer: coarse), (pointer: none) {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
        
        .contactLink:hover, .contactLink:active {
            text-decoration: underline dotted rgba(0, 0, 0, .5);
        }
        
        .contactLink > i {
            color: $accentColor;
            margin-left: -25px;
            margin-right: 5px;
        }

        .profileCard {
            width: calc(100% - 40px);
            height: calc(100% - 20px);
            background: $background;
            transform: translate(40px, 20px);
            border-radius: 5px;
            /*box-shadow: -1px 11px 33px -10px rgba(127,127,127,0.4);*/
            box-shadow: -1px 11px 33px -10px #e5502b4b;
            padding: 20px 20px 20px 230px;
            color: $textColor;
        }
    
        .profileImage, .profileImageDummy {
            display: inline-block;
            width: 250px;
            height: 350px;
            border-radius: 5px;
            position: absolute;
            z-index: 100;
            background-color: #1c1c1c;
            background-size: cover;
            background-position: center;
            transform: translate(0, 0);
            transition: transform .25s;
        }
    
        .profileImage {
            z-index: 20;
            /*box-shadow: -5px 7px 10px -6px rgba(127,127,127,.4);*/
        }
    
        .profileImageDummy {
            z-index: 10;
            background: $accentColor;
            opacity: .2;
            /*box-shadow: 0 0 10px -10px var(--accent-color);
            background: transparent;*/
        }

        @media (max-width: 590px) {
            .profileImage,.profileImageDummy {
                display: none;
            }
        
            .profileCard {
                padding: 20px 20px 20px 20px;
                transform: translate(20px, 20px);
            }
        
        
        }
    }
    
}

.amazonAlexaSection, .donationSection, .hireMeSection {
    @include homeBanner;
}

.creditSection {
    @include homeBanner;
    background: #060606;
    
    > div {
        padding: 15px !important;
        line-height: 15px;
        font-size: 1.2em;
        color: white;
        
        > span > i {
            line-height: 15px !important;
        }
    }
}