@import "../variables";
@import "../mixins";

.heroSection {
    width: 100%;
    height: 600px;
    overflow: hidden;

    .heroSectionBg,
    .heroSectionBgOver {
        position: absolute;
        width: 100%;
        max-width: unset;
        height: 600px;
        padding: 0;

        @media (pointer: coarse), (pointer: none) {
            height: 700px;
        }
    }

    .heroSectionBg {
        /*background: radial-gradient(ellipse at top left, #1f0ba659, transparent),
            radial-gradient(ellipse at bottom right, #4a086829, transparent);*/

        background: linear-gradient(45deg, #000850 0%, #000320 100%),
            radial-gradient(100% 225% at 100% 0%, #ff6928 0%, #000000 100%),
            linear-gradient(225deg, #ff7a00 0%, #000000 100%),
            linear-gradient(
                135deg,
                #cdffeb 10%,
                #cdffeb 35%,
                #009f9d 35%,
                #009f9d 60%,
                #07456f 60%,
                #07456f 67%,
                #0f0a3c 67%,
                #0f0a3c 100%
            );
        background-blend-mode: screen, overlay, hard-light, normal;
    }

    .heroSectionBgOver {
        background: linear-gradient(to bottom, transparent 80%, $background);
        transition: background-image 0.25s;

        @media (prefers-color-scheme: light) {
            background: linear-gradient(
                to bottom,
                transparent 90%,
                $lightBackground
            );
        }
    }

    @media (pointer: coarse), (pointer: none) {
        height: 700px;
    }

    .profile {
        position: relative;
        left: 50%;
        width: calc(90% - 40px);
        max-width: 600px;
        max-height: 400px;
        transform: translate(-50%, 0%);
        top: 100px;

        .hello {
            font-weight: 100;
            opacity: 0.75;
            display: block;
            margin-bottom: -5px;
        }

        .name {
            font-weight: 100;
            font-size: 2em;
            display: block;
        }

        .description {
            font-weight: 100;
            display: block;
        }

        .contactLinks {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
        }

        .contactLink {
            transition: text-decoration 0.5s;
            text-decoration: underline dotted rgba(0, 0, 0, 0);
            padding: 6px 0 6px 0;
            color: $textColor;
            display: flex;
            align-items: center;

            svg {
                margin-right: 10px;
                color: $accentColor;
                flex-shrink: 0;
            }

            @media (pointer: coarse), (pointer: none) {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }

        .contactLink:hover,
        .contactLink:active {
            text-decoration: underline dotted rgba(0, 0, 0, 0.5);
        }

        .contactLink > i {
            color: $accentColor;
            margin-left: -25px;
            margin-right: 5px;
        }

        .profileCard {
            width: calc(100% - 40px);
            height: calc(100% - 20px);
            transform: translate(40px, 20px);
            border-radius: 5px;
            padding: 20px 20px 20px 230px;
            color: $textColor;
        }

        .profileImage,
        .profileImageDummy {
            display: inline-block;
            width: 250px;
            height: 350px;
            border-radius: 5px;
            position: absolute;
            z-index: 100;
            background-color: #1c1c1c;
            background-size: cover;
            background-position: center;
            transition: transform 0.25s;
        }

        .profileImage {
            z-index: 20;
            box-shadow: -1px 11px 33px -10px #e5502b4b;
            clip-path: polygon(6% 8%, 88% 5%, 95% 91%, 7% 96%);
        }

        .profileImageDummy {
            z-index: 10;
            background: $accentColor;
            opacity: 0.2;
            clip-path: polygon(14% 4%, 95% 1%, 88% 96%, 2% 89%);
        }

        @media (max-width: 590px) {
            .profileImage,
            .profileImageDummy {
                display: none;
            }

            .profileCard {
                padding: 20px 20px 20px 20px;
                transform: translate(20px, 20px);
            }
        }
    }
}

.amazonAlexaSection,
.donationSection,
.hireMeSection {
    @include homeBanner;

    svg {
        height: 50px;
    }
}

.creditSection {
    @include homeBanner;

    > div {
        padding: 15px !important;
        line-height: 15px;
        font-size: 1.2em;
        color: white;

        > span {
            display: flex;
            align-items: center;

            svg {
                margin-right: 10px;
            }
        }
    }
}

.seeMoreButton {
    @include button;
    width: fit-content;
    margin: 0 auto;
    margin-top: 40px;
    padding: 10px 20px;
}

.aboutSection {
    > article {
        display: flex;
        align-items: center;

        > div {
            width: calc(50% - 40px);
            flex-shrink: 0;
        }

        .aboutText {
            margin-right: 20px;
        }

        .skills {
            margin-left: 20px;

            .skillList {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .skill {
                    border: thin solid currentColor;
                    border-radius: 100px;
                    padding: 5px 10px;
                    margin: 5px;

                    &.skill_framework {
                        color: #e52b3e;
                    }

                    &.skill_language {
                        color: #6848da;
                    }

                    &.skill_platform {
                        color: #e5752b;
                    }

                    &.skill_os {
                        color: #2b66e5;
                    }

                    &.skill_program {
                        color: #18bb20;
                    }
                }
            }
        }

        @media (max-width: 900px) {
            flex-direction: column;

            > div {
                width: 100%;
            }

            .skills,
            .aboutText {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}
