@import "../variables";
@import "../mixins";

.projectList {
    @include flexList;
    margin: 15px 0;
}

.projectCard {
    @include cardGeneric;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: calc(100% / 4);

    @media(max-width: 800px) {
        width: calc((100% / 2) - 30px);
    }

    @media(max-width: 500px) {
        width: 100%;
    }

    .projectCardActivityIndicator {
        position: absolute;
        margin: 12px;
        padding: 2px 5px;
        border-radius: 3px;

        &.activityIndicatorGreen {
            background: #26de81;
        }
        
        &.activityIndicatorYellow {
            background: #f7b731;
        }
        
        &.activityIndicatorRed {
            background: #fc5c65;
        }
        
        &.activityIndicatorBlue {
            background: #45aaf2;
        }
    }

    .projectCardImage {
        display: block;
        height: 150px;
        background-position: center;
        background-size: cover;
    }

    .projectCardMeta {
        padding: 10px;
        flex-grow: 1;
    }

    .projectCardTitle {
        display: block;
        font-size: 1.2em;
    }

    .projectCardCTA {
        display: block;
    }

    .projectCardCTA a {
        @include buttonBasic;
    }

    .projectCardCTAContainer {
        display: flex;
    }

    @media(max-width: 900px) {
        .projectCardCTAContainer {
            flex-direction: column;
        }
    
        .projectCardCTA:nth-child(2) {
            border-left: none;
        }
    }

    .projectCardCTAContainer > * {
        flex-grow: 1;
    }
}