@import "../variables";
@import "../mixins";

.list {
    display: flex;
    flex-direction: column;
    margin-top: $layoutPadding;

    .post {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        color: inherit;
        padding: $layoutPadding;

        border-bottom: thin dotted grey;

        .title {
            color: $accentColor;
            font-size: 1.5em;
            text-decoration: underline dotted currentColor;
        }

        .meta {
            margin-bottom: 10px;
            opacity: .5;
        }

        .excerpt {
            margin-left: 10px;

            > span {
                color: $accentColor;
                text-decoration: underline dotted currentColor;
            }
        }
    }
}

.moreSoon {
    display: block;
    padding: $layoutPadding;
    text-align: center;
    opacity: .5;
}