@import "../mixins";
@import "../variables";

.languageModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s;

    &:target {
        opacity: 1;
        pointer-events: auto;
    }

    .languageModalInner {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background: black;
        font-family: $mainFont;
        padding: 20px;
        border-radius: 5px;

        a {
            color: white;
            text-decoration-style: dotted;
        }
    }

    .modalCloseLink {
        text-decoration: none;
    }
}
