@import "../globals";

.offscreenNav {
    position: fixed;
    top: 0;
    left: 120px;
    width: 100%;
    height: 100%;
    z-index: 1200;
    background-color: rgba($background, 0.9);
    backdrop-filter: blur(10px);
    color: white;
    overflow: auto;
    opacity: 0;
    transition: opacity 0.25s, left 0.25s;
    pointer-events: none;
    overscroll-behavior: contain;

    &.active {
        left: 0;
        opacity: 1;
        pointer-events: auto;
    }

    @media (prefers-color-scheme: light) {
        background-color: rgba($lightBackground, 0.9);
        color: black;
    }

    .inner {
        display: flex;
        flex-direction: column;
        max-width: $layoutWidth;
        margin: 0 auto;
        position: relative;

        text-align: center;
        font-size: 1.25em;

        .close {
            position: absolute;
            top: 0;
            right: 0;
            padding: $layoutPadding;
            color: inherit;
            background-color: transparent;
            border: none;
            font: inherit;
        }

        > a {
            text-decoration: underline dotted currentColor;
        }

        > * {
            padding: $layoutPadding;
            color: inherit;

            &.active {
                border-left: 3px solid white;
                border-right: 3px solid white;

                @media (prefers-color-scheme: light) {
                    border-left: 3px solid black;
                    border-right: 3px solid black;
                }
            }
        }
    }
}

.topBar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    background: rgba($background, 0.95);
    color: $textColor;
    backdrop-filter: blur(5px);
    z-index: 999;
    transition: background-color 0.25s, color 0.25s;

    @supports (backdrop-filter: blur(5px)) {
        background: rgba($background, 0.9);
    }

    @media (prefers-color-scheme: light) {
        background: rgba($lightBackground, 0.95);
        color: $lightTextColor;

        @supports (backdrop-filter: blur(5px)) {
            background: rgba($lightBackground, 0.9);
        }
    }

    .topBarInner {
        display: flex;
        width: 100%;
        max-width: $layoutWidth;
        margin: auto;

        > :first-child {
            padding-left: $layoutPadding;
        }

        > :last-child {
            padding-right: $layoutPadding;
        }

        .hamburger {
            display: none;
            height: 43px;
            margin-top: -3px;

            @media (max-width: 600px) {
                display: block;
            }
        }

        a {
            display: flex;
            align-items: center;
            padding: 10px $layoutPadding;
            color: inherit;
            text-decoration: none;
            border-top: 2px solid transparent;

            &:hover {
                border-color: rgba(255, 255, 255, 0.25);
            }

            &.active {
                border-color: white;
                transition: border-color 0.25s;

                @media (prefers-color-scheme: light) {
                    border-color: $accentColor;
                }
            }

            @media (max-width: 600px) {
                &:not(.logo) {
                    display: none;
                }
            }
        }
    }
}

.homeBar.homeBarTransparent {
    background: transparent;
    color: $textColor;
    backdrop-filter: blur(0);
}

.flexSpacer {
    flex-grow: 1;
    text-align: center;
}
