$layoutWidth: 1200px;
$accentColor: #e52b3e;
$accentColorDarker: darken($accentColor, 5);
$background: #070707;
$lightBackground: #fff;
$textColor: white;
$lightTextColor: black;
$layoutPadding: 20px;

$noticeColor: rgba(#e52b3e, .15);

$mainFont: "Fira Code", monospace;
