$layoutWidth: 1200px;
$accentColor: #e5502b;
$background: #070707;
$lightBackground: #fff;
$textColor: white;
$lightTextColor: black;
$layoutPadding: 20px;

$mainFont: "Anonymous Pro", monospace;
