@use "@fontsource/encode-sans/scss/mixins" as EncodeSans;
@import-normalize;
@import "../globals";

@include EncodeSans.fontFaceVariable($type: "wghtOnly");

:root {
    @include vars;
}

* {
    box-sizing: border-box;

    @media (prefers-reduced-motion: reduce) {
        animation: none !important;
        transition: none !important;
    }
}

body,
html,
#___gatsby,
#gatsby-focus-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: $mainFont;
    scroll-behavior: smooth;
    background: var(--color-background);
    color: var(--color-text);
}

#gatsby-focus-wrapper {
    background: var(--color-background);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    transition: background-color 0.25s, color 0.25s;
}

footer {
    background: var(--color-background-secondary);
    width: 100%;
    color: var(--color-text);
    padding: 5px;
    text-align: center;
    transition: background-color 0.25s, color 0.25s;

    a {
        color: inherit;
        text-decoration: underline dotted currentColor;
    }
}

#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.flexSpacer {
    flex-grow: 1;
    text-align: center;
}

section > div:not(.profile),
section > article,
.section > div:not(.profile),
.section > article {
    max-width: $layoutWidth;
    width: 100%;
    padding: 39px 20px;
    margin: 0 auto;
}

article {
    a {
        color: var(--color-accent);
        text-decoration: underline dotted currentColor;
        text-decoration-skip: none;
    }
}

h1 {
    font-size: 2em;

    color: var(--color-accent);

    text-shadow: $textShadowAccent;
}
