@import "../variables";

* {
    box-sizing: border-box;
}

body,
html,
#___gatsby,
#gatsby-focus-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: $mainFont;
}

#gatsby-focus-wrapper {
    background: $background;
    color: $textColor;
    display: flex;
    flex-direction: column;
    transition: background-color 0.25s, color 0.25s;

    @media (prefers-color-scheme: light) {
        background: $lightBackground;
        color: $lightTextColor;
    }
}

footer {
    background: darken($background, 1);
    width: 100%;
    color: white;
    padding: 5px;
    text-align: center;
    transition: background-color 0.25s, color 0.25s;

    a {
        color: inherit;
        text-decoration: underline dotted currentColor;
    }
}

#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.flexSpacer {
    flex-grow: 1;
    text-align: center;
}

section > div:not(.profile),
section > article,
.section > div:not(.profile),
.section > article {
    max-width: $layoutWidth;
    width: 100%;
    padding: 39px 20px;
    margin: 0 auto;
}

article {
    p {
        text-align: justify;
    }

    a {
        color: $accentColor;
        text-decoration: underline dotted currentColor;
        text-decoration-skip: none;
    }
}

h1 {
    font-size: 2em;

    color: $accentColor;

    text-shadow: 0 0 20px rgba($accentColor, 0.15);

    @media (prefers-color-scheme: light) {
        text-shadow: 0 0 20px rgba($accentColor, 0.3);
    }
}
